{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} Profile{% endblock %}
{% block javascripts %}{{ parent() }} {{ encore_entry_script_tags('editProfile') }}{% endblock %}

{% block body %}
    <div id="edit-profile" data-isMan="{{ data.isMan }}" data-img="{{ data.profilImg }}"
         data-complete="{{ data.complete }}"
            {% if app.user %} data-user="{{ app.user.id }}" {% endif %} ></div>
{% endblock %}