{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} Press{% endblock %}
{% block javascripts %}{{ parent() }}{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center align-items-center">
                <iframe width="560" height="315" src="{{ yt ~ '?start=2'}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
       {% for data in datas %}
           <div class="col-12">
               <div class="text-center pad-30 flex-column justify-content-center align-items-center">
                   <div><img width="70%" src="{{ asset('/img/' ~ data ~ '.png') }}" alt="press"/></div>
                   <div><a class="btn btn-group btn-primary" href="{{ path('press_pdf', {name: data}) }}">{{ btn }}</a></div>
               </div>
           </div>
        {% endfor %}
    </div>
</div>
{% endblock %}