{% extends 'admin/base-admin.html.twig' %}
{% block javascripts %}{{ parent() }}{% endblock %}
{% block title %}{{ parent() }}{% endblock %}

{% block body %}{{ parent() }}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="text-center m-auto"><h2 class="marg-top-10">Témoignages</h2></div>
                <table class="table table-danger table-striped marg-bottom-10 marg-top-10">
                    <tbody>
                        {% if testimonies|length > 0 %}
                            {% for testimony in testimonies %}
                                <tr>
                                    <td>
                                        {{ testimony.user.pseudo }}
                                    </td>
                                    <td>
                                        {{ testimony.title }}
                                    </td>
                                    <td>
                                        {{ testimony.text }}
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-around align-items-center">
                                            {% if testimony.isValidated is null %}
                                                <a class="btn btn-group btn-danger" href="{{ path('admin_testimony_validate', {id: testimony.id, validate: 0}) }}">Refuser</a>
                                                <a class="btn btn-group btn-success" href="{{ path('admin_testimony_validate', {id: testimony.id, validate: 1}) }}">Valider</a>
                                            {% elseif testimony.isValidated is not null and testimony.isValidated is even %}
                                                <span class="text-danger">Témoignage refusé</span>
                                                <a class="btn btn-success btn-group" href="{{ path('admin_testimony_validate', {id: testimony.id, validate: 1}) }}">Valider</a>
                                            {% else %}
                                                <span class="text-success">Témoignage validé</span>
                                                <a class="btn btn-group btn-danger" href="{{ path('admin_testimony_validate', {id: testimony.id, validate: 0}) }}">Refuser</a>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}