{% extends 'admin/base-admin.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block javascripts %}{{ parent() }}{% endblock %}

{% block body %}{{ parent() }}
    <div class="container-fluid">
        <div class="w-100 text-center text-grey"><h1>CGU</h1></div>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success text-center">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-error text-center">
                {{ message }}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-md-6 col-12">
                {{ form_start(form) }}
                {{ form_end(form) }}
            </div>
            <div class="col-md-6 col-12">
                {% if cgus is not empty %}
                    {% for cgu in cgus %}
                        <div class="rounded-more border-grey shadow pad-30">
                            <div class="d-flex align-items-center justify-content-around marg-bottom-20 shadow pad-10">
                                <div>{{ cgu.title }}</div>
                                <a class="btn btn-group btn-outline-danger" href="{{ path('admin_delete_cgu', {id: cgu.id}) }}">Supprimer</a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}