{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}
{% block javascripts %}{{ parent() }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="text-center text-grey"><h1>{{ trans }}</h1></div>
        <div class="row">
            <div class="col-12">
                <div class="pad-30 shadow border-red rounded-more pad-30 marg-bottom-20">
                    {% if cgus is not empty %}
                        {% for cgu in cgus %}
                            <div class="marg-bottom-10 text-grey">
                                <h2>{{ cgu.title }}</h2>
                            </div>
                            <div class="text-dark">
                                <p>{{ cgu.text }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
