{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Payment{% endblock %}
{% block javascripts %}{{ parent() }}

{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col d-flex justify-content-center align-items-center">
                {{ dump(settings) }}
                <form method="post" action="{{ settings.URI }}">
                    <input type="hidden" name="PSPID" value="{{ settings.PSPID }}">
{#                    <input type="hidden" name="ALIASPERSISTEDAFTERUSE" value="{{ settings.ALIASPERSISTEDAFTERUSE }}">#}
                    <input type="hidden" name="EXCEPTIONURL" value="{{ settings.EXCEPTIONURL }}">
                    <input type="hidden" name="ACCEPTURL" value="{{ settings.ACCEPTURL }}">
                    <input type="hidden" name="SHASIGN" value="{{ settings.SHASIGN }}">
                    <input type="hidden" name="BRAND" value="{{ settings.BRAND }}">
                    <div class="border-red rounded-more pad-30 marg-top-20 marg-bottom-20 text-center">
                        <h4 class="marg-bottom-20">{{ data.sub }} {{ data.context }}</h4>
                        <h4 class="marg-bottom-20">{{ data.trans.amount }} CHF {{ data.amount }}</h4>
                        <div class="text-center marg-top-10">
                            <button class="btn btn-group btn-success">{{ data.trans.validate }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}